.horizontal_rule {
  border-top: 1px solid var(--secondary-bg);
}
.add_user_box {
  display: flex;
  justify-content: flex-end;
}

.text_btn {
  background-color: transparent;
  border: none;
  color: #8cd4dc;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 12px;
}
