.heading_box {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 20px;

  h1 {
    font-size: var(--h1-size);
    font-weight: 700;
    margin: 20px 0;
  }
}

.edit_btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
