.input_label {
  color: var(--secondary-color);
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  & span {
    color: var(--danger-color);
  }
}

.input_box :is(input, select, textarea) {
  background-color: var(--primary-100);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  color: var(--secondary-color);
  font-size: 16px;
  min-height: 44px;
  padding: 0 10px;
  width: 100%;
}

.input_box :is(input):focus {
  box-shadow: 0 0 3px var(--box-shadow);
  outline: 0;
}

.inner_input {
  position: relative;
  width: 100%;
}

.loader {
  position: absolute;
  display: none;
  top: 55%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-top: 2px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.suggestions_box {
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.open {
  display: block;
}

.suggestion_item {
  cursor: pointer;
  padding: 10px;
}
